
:root {
    --color-canvas: #f5f5f5;
    --color-cement: #b0b0b0;
    --color-cement-dark: #8a8a8a;
    --color-metal: #a7a9ac;
    --color-wood: #d2b48c;
    --color-urban-green: #6e7763;
    --color-grip: #2f2f2f;
  
    --background: var(--color-canvas);
    --foreground: var(--color-wood);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: var(--color-grip);
      --foreground: var(--color-canvas);
    }
  }
  
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }